<link rel="stylesheet" href="/js/jquery-ui.css">
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/bootstrap-select.min.css">
<link rel="stylesheet" href="/css/bootstrap-datetimepicker.css">
<style>
    #datepicker2 {
        z-index: 1600 !important; /* has to be larger than 1050 */
    }
    #sortable1, #sortable2, #sortable3 {
        border: 1px solid #eee;
        width: 200px;
        min-height: 20px;
        list-style-type: none;
        margin: 0;
        padding: 5px 0 0 0;
        float: left;
        margin-right: 10px;
    }
    #sortable1 li, #sortable2 li, #sortable3 li {
        margin: 0 5px 5px 5px;
        padding: 5px;
        font-size: 1.2em;
        width: 190px;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
    }

    table.table td a {
        cursor: pointer;
        display: inline-block;
        margin: 0 5px;
        min-width: 24px;
    }
    table.table td a.add {
        color: #27C46B;
    }
    table.table td a.edit {
        color: #FFC107;
    }
    table.table td a.delete {
        color: #E34724;
    }
    table.table td i {
        font-size: 19px;
    }
    table.table td a.add i {
        font-size: 24px;
        margin-right: -1px;
        position: relative;
        top: 3px;
    }
</style>
<script src="/js/jquery-ui.js"></script>
<script src="/js/bootstrap.js"></script><!-- Latest compiled and minified CSS -->


<!-- Latest compiled and minified JavaScript -->
<script src="/js/bootstrap-select.min.js"></script>
<script src="/js/moment.min.js"></script>
<script src="/js/bootstrap-datetimepicker.js"></script>
<script src="/js/typeahead.js"></script>



<article class="content dashboard-page">
    <section class="section">

        <div class="row sameheight-container">

            <div class="col col-12 stats-col">
                <div class="card sameheight-item stats"  style="border-radius: 10px;" data-exclude="xs">
                    <div class="card-block" style="">
                        <div class="title-block">
                            <h4 class="title col-md-6"></h4>
                            <div class="col-md-6"> <button type="button" class="btn btn-primary pull-right modal-trigger" onclick="showModal('add')"><span class="glyphicon glyphicon-plus"></span></button></div>
                        </div>
                        <table class="table table-hover">
                            <thead>
                            <tr>

                            <th>Security Id</th>
                            <th>Security Name</th>
                            <th>Units</th>
                            <th>Amount</th>
                            <th>Date</th>
                            <th>Buy/Sell</th>
                            <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>

                                {{#each portfolioData.filteredData}}
                                    <tr {{#if this.trxn_flag}}class="success"{{else}}class="active"{{/if}}>
                                    <input type="hidden" name="transactionId" value="{{this._id}}"/>
                                    <td>{{this.security_id}}</td>
                                    <td>{{this.security_name}}</td>
                                    <td>{{this.security_count}}</td>
                                    <td>{{this.trxn_amount}}</td>
                                    <td>{{this.trxn_date}}</td>
                                    <td>{{this.trxn_type}}</td>
                                    <td><p data-toggle="tooltip" data-backdrop="static" data-keyboard="false" title="Edit"><button class="btn btn-primary btn-xs modal-trigger" data-backdrop="static" data-keyboard="false" data-title="Edit" data-toggle="modal" data-target="#edit" onclick="showModal('edit')"><span class="glyphicon glyphicon-pencil"></span></button></p></td>
                                    <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs modal-trigger" data-title="Delete" data-toggle="modal" data-target="#delete" onclick="showModal('delete')"><span class="glyphicon glyphicon-trash"></span></button></p></td>
                                    </tr>
                                {{/each}}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title custom_align" id="Heading">Edit Transaction</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>

                        </div>

                            <form method="POST" action="/edit">
                            <div class="modal-body">
                                <input type="hidden" name="id" value="">
                                <div class="form-group">
                                    <label>Select Security Name :</label>
                                    <input type="text" class="form-control typeahead" name="securityCode">
                                </div>
                                <div class="form-group">
                                    <label>Security Count  :</label>
                                    <input class="form-control " type="text" name="numberOfShares">
                                </div>
                                <div class="form-group">
                                    <label>Transaction Amount :</label>
                                    <input class="form-control " type="text" name="transactionAmount">
                                </div>
                                <div class="form-group">
                                    <label>Transaction Date :</label>
                                    <div class='input-group date datetimepicker'>
                                        <input type='text' class="form-control" name="transactionDate"/>
                                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                </div>
                                </div>
                                <div class="form-group">
                                    <label>Transaction Type :</label>
                                    <select class="form-control selectpicker" type="text" name="transactionType">
                                        <option value="Buy">Buy</option>
                                        <option value="Sell">Sell</option>
                                    </select>
                                </div>

                        </div>
                        <div class="modal-footer ">
                            <button type="button" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Update</button>
                        </div>
                        </form>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>

        </div>




        <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>

                    </div>
                    <form method="POST" action="/delete">
                    <div class="modal-body">
                        <input type="hidden" name="id" value="">
                        <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this Record?</div>

                    </div>
                    <div class="modal-footer ">
                        <button type="button" class="btn btn-success" ><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
                    </div>
                    </form>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

        <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="add" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title custom_align" id="Heading">Transaction Details</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>

                    </div>
                    <form method="POST" action="/add">
                        <div class="modal-body">

                            <div class="form-group">
                                <label>Select Security Name :</label>
                                <input type="text" class="form-control typeahead" name="securityCode">
                            </div>
                            <div class="form-group">
                                <label>Security Count  :</label>
                                <input class="form-control " type="text" name="numberOfShares">
                            </div>
                            <div class="form-group">
                                <label>Transaction Amount :</label>
                                <input class="form-control " type="text" name="transactionAmount">
                            </div>
                            <div class="form-group">
                                <label>Transaction Date :</label>
                                <div class='input-group date datetimepicker' >
                                    <input type='text' class="form-control" name="transactionDate"/>
                                    <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Transaction Type :</label>
                                <select class="form-control selectpicker" type="text" name="transactionType">
                                    <option value="Buy">Buy</option>
                                    <option value="Sell">Sell</option>
                                </select>
                            </div>

                        </div>
                        <div class="modal-footer ">
                            <button type="button" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Add</button>
                        </div>
                    </form>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>


    </section>
</article>
<script>
    $("[data-toggle=tooltip]").tooltip();

    function showModal(id){
        debugger;
        if(id == "edit" || id == "delete") {
            $("#" + id + " form input[type='hidden']").val().replace()
        }

        $('#'+id).modal({
            backdrop: 'static',
            keyboard: false
        })

    }
    $('.selectpicker').selectpicker({
        "liveSearch" :true
    });

    /*$('#datepicker2').datetimepicker({
        format : "DD/MM/YYYY"
    });*/

    $(function () {
        $(".datetimepicker").datetimepicker({
            format: "DD/MM/YYYY",
            keepOpen : false
        });
    });


    $(document).ready(function () {
        $('.typeahead').typeahead({
            source: function (query, result) {
                $.ajax({
                    url: "/getBSEListing",
                    data: 'query=' + query+ "",
                    dataType: "json",
                    type: "GET",
                    success: function (data) {
                        debugger;
                        console.log("success "+ data);
                        result($.map(JSON.parse(data), function (item) {
                            console.log(item);
                            return item;
                        }));
                    }
                });
            }
        });
    });
</script>
